.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.paper {
  padding: 2rem;
  h1 {
    margin-bottom: 1.5rem;
  }
  p {
    line-height: 1.6;
    margin-bottom: 1rem;
  }
  ul {
    margin-bottom: 1rem;
    padding-left: 1.5rem;
  }
  li {
    margin-bottom: 0.5rem;
  }
  strong {
    font-weight: bold;
  }
}
