.container {
  max-width: 960px;
  margin: 0px auto;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  color: var(--text-color);
  margin: 0 0 24px 0;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}